body{
    margin: 0;
    padding: 0;
    font: 1em sans-serif;
    /* background-image: url(Images/love.jpg); */
    background-color:rgba(113, 106, 145, 0.37);
    background-position: center;
    background-size: cover ;

}
.sign-up{
    box-shadow:  0 0 3px 0 rgba(0,0,0,0.3);
    text-align: center;
    margin: 8% auto 0;
    width: 300px;
    border: 4px solid rgb(8, 45, 88);
    padding: 20px;
    background: rgb(225, 207, 226);
}
h1{
    font-family:Arial;
    color: rgb(8, 45, 88);
    
}
button{
    margin: 10px 0;
    font-size: 15px;
    padding: 10px;
    border-radius: 20px;
    color: white;
    outline: none;
    width: 100%;
    border-color: #fff;
    cursor: pointer;

}
.signup-btn{
    background-color: rgb(8, 45, 88);
}
.twitter-logn{
    background-color: rgb(8, 45, 88);
}
hr{
    width: 80%;
    margin-top: 20px;
}
.Input-box{
    outline: none;
    width: 80%;
    border-radius: 20px;
    margin: 10px;
    padding: 10px;

}
.Input-box:focus{
    border: 2px dashed darkblue;
    outline: none;
}